.back-button {
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: var(--hover-bg);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --amplify-components-fieldcontrol-border-radius: 9999px;
  --amplify-components-button-border-radius: 9999px;

  --amplify-components-button-primary-background-color: #000000;
  --amplify-components-button-primary-color: #ffffff;
}
