/*takenfrom a style guide http://bjankord.github.io/Style-Guide-Boilerplate/*/
.sidebar {
  width: 180px;
  background: #000000;
  height: 90dvh; /* dynamic viewport height*/
  box-sizing: border-box; /* include padding in the height to prevent overflow */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navigationItem {
  padding: 10px;
  text-decoration: none;
  /*background: #000000;*/
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
}

/* highlight active page automatically */
.navigationItem.active {
  /*background: #4a90e2;*/
  color: #1f8bd1;

}

/* push logout to bottom of sidebar */
.logout {
  margin-top: auto;
}
