/*some inspiration takenfrom a style guide http://bjankord.github.io/Style-Guide-Boilerplate/*/
/*(Alex) standard padding and experimenting with heights mnaually*/
.calendarcontainer {
  height: 100vh;
  background: #fafafa;
  position: relative;
  padding: 20px;
}

.calendarView {
  padding:20px;
}

.calendarButtons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

}
.calendarButtons button {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.calendarButtons button:hover {
  color: #1f8bd1;
}
.calendarButtons button:active {
  color: #1f8bd1;
}

.calendarViewDisplay {
  background: #fff;
  border: 1px solid #ddd;
  height: 80vh;
  padding: 20px;
}

.timeSlot {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}