.calendarcontainer {
  height: 100vh;
  background: var(--bg-color);
  position: relative;
  padding: 20px;
}

.calendarView {
  padding:20px;
}

.calendarButtons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.calendarButtons button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 15px;
  cursor: pointer;
}

.calendarButtons button:hover {
  color: var(--primary-accent);
}

.calendarButtons button:active {
  color: var(--primary-accent);
}

.calendarViewDisplay {
  background: var(--secondary-bg);
  border: 1px solid var(--border-color);
  height: 80vh;
  padding: 20px;
}

.timeSlot {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}